# Logs
logs
*.log
npm-debug.log*

node_modules
dist
*.local

# Env
.env
.env.*
!.env.example

# Uploaded files
uploads/*
!uploads/.gitkeep

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
